<div class="header">
  <h1> Forecasted </h1>
</div>

<div class="textentry">
  <%= form_for :address, :html => {:class => "basic-grey"}, url: addresses_path do |f| %>
  <p>
    <%= f.label :enter_your_address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>

<div class="weather">
  <h1> Hello!</h1>
    <h3> The forecast there is currently: <%= @summary %> </h3>
  <h4> It is <%= @temp %> degrees </h4>
  <h1> <%= @saying  %> </h1>
</div>
